body {
    margin: 0;
    background: black;
}

.hidden {
    display: none;
}

.material-icons {
    vertical-align: middle;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    overflow-y: scroll;
    padding: 0 8px;
    box-sizing: border-box;
    transition: left 0.1s;
    background: white;
    z-index: 999;
}

.sidebar.close {
    left: -250px;
}

.sidebar-header {
    position: sticky;
    top: 0;
}

.sidebar-header::after {
    content: "";
    display: block;
    clear: both;
}

.sidebar-close-button {
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: white;
    box-shadow: 1px 1px 2px silver;
    float: right;
    margin-top: 12px;
    cursor: pointer;
}

.sidebar-close-button:hover {
    background: whitesmoke;
}

.sidebar-close-button:active {
    background: white;
}

.sidebar-open-button {
    position: absolute;
    top: 16px;
    left: 16px;
    background: black;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 998;
}

.target-image {
    margin-top: 12px;
    display: block;
    width: 100%;
}

.main {
    position: relative;
    margin-left: 0;
    width: 100%;
    height: 100vh;
    transition: margin-left 0.1s, width 0.1s;
}

@media only screen and (min-width: 1000px) {
    .main:not(.full) {
        margin-left: 250px;
        width: calc(100% - 250px);
    }
}

.canvas-container {
    width: 100%;
    height: 100%;
}

.navigation {
    position: absolute;
    top: 16px;
    right: 16px;
}

.solution-selector {
    border: none;
    padding: 8px 16px;
    min-width: 96px;
    outline: none;
}

.loading {
    color: white;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

.message {
    color: white;
    margin-right: 16px;
    vertical-align: middle;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: deepskyblue;
}